//General tablet Variables
$tablet-height: 75vh;

//Variables of the tablet Frame
$frame-color: #111111;

//Variables of the tablet Case
$case-color: #555555;

//Variables of tablet OS
$os-font: arial, helvetica, sans-serif;
$header-height: 2.5vh;
$header-bg-color: #ffffff00;
$header-el-color: #ffffffbb;
$app-size: 9vh;
$app-border-radius: 2vh;
$text-color: #eeeeee;

$light-primary: #eeeeee;
$light-secondary: #aaaaaa;
$light-trinary: #dddddd;
$light-text-color: #222222;
$light-text-color-hover: #333333;
$light-scrollbar-color: #3333337f;
$light-scrollbar-color-hover: #4444447f;

$dark-primary: #333333;
$dark-secondary: #666666;
$dark-trinary:#444444;
$dark-text-color: #cfcfcf;
$dark-text-color-hover: #afafaf;
$dark-scrollbar-color: #cfcfcf7f;
$dark-scrollbar-color-hover: #bfbfbf7f;

:root {
  --primary: #{$light-primary};
  --secondary: #{$light-secondary};
  --trinary: #{$light-trinary};
  --text-color: #{$light-text-color};
  --text-color-hover: #{$light-text-color-hover};
  --scrollbar-color: #{$light-scrollbar-color};
  --scrollbar-color-hover: #{$light-scrollbar-color-hover};
}
