//General tablet Variables
$tablet-height: 75vh;

//Variables of the tablet Frame
$frame-color: #111111;

//Variables of the tablet Case
$case-color: #555555;

//Variables of tablet OS
$header-height: 2.5vh;
$header-bg-color: #808080b0;
$header-el-color: #ffffffbb